<?xml version="1.0" encoding="UTF-8" ?>   
<!DOCTYPE configuration   
    PUBLIC "-//mybatis.org//DTD Config 3.0//EN"   
    "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<typeAliases>
		<typeAlias alias="WebSiteInfo" type="com.unbank.robotspider.entity.WebSiteInfo" />
		<typeAlias alias="ArticleInfo" type="com.unbank.robotspider.entity.ArticleInfo" />
		<typeAlias alias="ArticleContent"
			type="com.unbank.robotspider.entity.ArticleContent" />
		<typeAlias alias="EveryDayNum" type="com.unbank.robotspider.entity.EveryDayNum" />
		<typeAlias alias="EveryWebDayNum"
			type="com.unbank.robotspider.entity.EveryWebDayNum" />

		<typeAlias alias="ArticleInfoTest"
			type="com.unbank.robotspider.entity.ArticleInfoTest" />
		<typeAlias alias="ArticleContentTest"
			type="com.unbank.robotspider.entity.ArticleContentTest" />

	</typeAliases>
	<!--数据源配置 这块用 BD2数据库 -->
	<environments default="development">
		<environment id="development">
			<transactionManager type="jdbc" />
			<dataSource type="POOLED">
				<property name="driver" value="com.mysql.jdbc.Driver" />
				<property name="url" value="jdbc:mysql://10.0.0.51:3306/ubk_platform" />
				<property name="username" value="user" />
				<property name="password" value="123456" />
			</dataSource>
		</environment>
	</environments>
	<mappers>
		<!--userMapper.xml装载进来 同等于把“dao”的实现装载进来 -->
		<mapper resource="com/unbank/robotspider/dao/ArticleContentMapper.xml" />
		<mapper resource="com/unbank/robotspider/dao/ArticleInfoMapper.xml" />
		<mapper resource="com/unbank/robotspider/dao/EveryDayNumMapper.xml" />
		<mapper resource="com/unbank/robotspider/dao/EveryWebDayNumMapper.xml" />
		<mapper resource="com/unbank/robotspider/dao/WebsiteParserMapper.xml" />
		<mapper resource="com/unbank/robotspider/dao/CrawlTestMapper.xml" />
		<mapper resource="com/unbank/robotspider/dao/CrawlTextTestMapper.xml" />
		<mapper resource="com/unbank/robotspider/dao/WebSiteInfoMapper.xml" />
		<mapper resource="com/unbank/robotspider/dao/ArticleContentTestMapper.xml" />
		<mapper resource="com/unbank/robotspider/dao/ArticleInfoTestMapper.xml" />

	</mappers>
</configuration> 